/* Alapok */
html,
body {
  margin: 0px;
  padding: 0px;
  background-color: white !important;
}

/* Telefon */
.mobile-menu {
  left: -200%;
  transition: 0.5s;
  z-index: 99;
}

.mobile-menu.active {
  left: 0;
}

.mobile-menu ul li ul {
  display: none;
}

.mobile-menu ul li:hover ul {
  display: block;
}

/* Img Slider */
.carousel {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.text-shadow-black {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
